{% extends "images/layouts/main.html" %}

{% block title %}<title>Songs | Melodio</title>{% endblock title %}
{% block content %}
<div class="container" style="margin-top:70px;">
    <div class="row">
        <div class="col-12">
            <h1>Search results</h1>
        </div>
    </div>
    <div class="row">
        {% for song in songs %}
        
            <div class="card mb-3" style="max-width: 1020px; padding: 10px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ song.song_image.url }}" class="card-img" alt="{{ song.name }}">
                        <audio controls>
                            <source src="{{song.audio_file.url}}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title" style="color: green;">{{ song.name }}</h3>
                            <p class="card-text"><b>SINGER :</b>  {{song.Singer}}</p>
                            <p class="card-text"><b>WRITER :</b>  {{song.writer}}</p>
                             <p class="card-text"><b>MUSIC :</b>   {{song.music}}</p>
                            <p class="card-text"><b>LANGUAGE :</b>{{song.language}}</p>
                            <p class="card-text"><b>MOVIE :</b>{{song.movie_name}}</p>
                            <p class="card-text"><small class="text-muted">Description:{{song.description}} </small></p>
                            <input type="hidden" value="{{song.id}}" id="sid">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
</div>  

{% endblock content %}